
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'GmarketSansMedium';
}

.content_area {
    max-width: 1200px;
    margin: 0 auto;
}

ul {
    list-style: none;
    margin: 0;
    padding:0;
}

a{
    text-decoration: none;
    color: inherit;
    display: block;
}

h2 {
    margin: 0;
}
u {
    color: rgba(34, 34, 34, .5);
}

.top_buttom {
    position: fixed;
    right: 30px;
    bottom: 30px;

    width: 50px;
    height: 50px;

    border-radius: 50%;
    background-color: white;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.1);

    z-index: 9999999999;
    display: none;

}
.top_buttom_img {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50% ,-50%);

    width: 30px;
    height: 30px;
    background: url(../img/stokcx/logo_header/arrow-up.png)no-repeat center / contain;
    background-color: white;
}

/*헤더 부분 */
.header{
    width: 100%;
    height: 120px;
    padding-bottom: 15px;
    box-shadow: 4px 0 10px 0 rgba(0,0,0,.1); 
    position: fixed;
    left: 0;
    right: 0;
    background: white;
    z-index: 9999999999;
}

.header_top {
    height: 30px;
    display: flex;
    padding: 0 40px;
    gap: 20px;
    justify-content: flex-end;    
    align-items: center;
    
}

.header_top_msg {
    color: rgba(34, 34, 34, .8);
    font-size: 15px;
}

.header_center {
    height: 60px;
    padding: 20px 40px 10px;

    display: flex;
    justify-content: space-between;
}
.header_logo {
    width: 150px;
    height: 60px;
    background: url(../img/stokcx/logo_header/JBSOmhKKJltGwGaiDN-tOw4ZZpnrJ7qBYbOIju5oZkVwsRlHilmS0YVTVRjP7Hu1cW2h1cAnsRbSErjtT_pZY0LHKLWY5RMmhRbF0Q2DPW0x9UuO0xjusm4brFwRPQtlINGSdisWKVEL0VfnHJ3xDg.webp)
    no-repeat center / contain;
}

.search_box {
    display: flex;
    gap: 40px;
}
.search_box_msg {
    height: 60px;
    line-height: 60px;
    font-size: 20px;
}
.search_logo {
    width: 30px;
    height: 30px;
    background: url(../img/stokcx/logo_header/search_s.png) no-repeat center / contain;

    position: relative;
    top:15px;

    cursor: pointer; ;
}

/* ///////////////////////숨겨진 헤더 바텀 ///////////////////// */
.header_bottom {
    height: 60px;
    display: none;
    justify-content: space-between;
}
.bottom_img_box {
    display: flex;
    align-items: center;
    gap: 20px;
}
.header_bottom_img {
    width: 64px;
    height: 64px;
    background: url(../img/stokcx/item/new_item0.webp) no-repeat center / contain;
    background-color: #f2f9f6;
    border-radius: 15px;
}
.bottom_txt > p {
font-size: 15px;
margin: 0;
}
.bottom_txt > span {
    color: rgba(34, 34, 34, .5);
    font-size: 12px;
}

.top_trade_box {
    display: flex;
    gap: 20px;
}

.top_want {
    width: 160px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #ebebeb;
    border-radius: 10px;
}
.top_want > img{
    width: 15px;
    height:  15px;


}
.top_want > span {
    font-size: 15px;
    font-weight: 600;
}
    .top_sell {
        width: 192px;
        height: 60px;
        border-radius: 10px;
        color: white;
        
        display: flex;
        align-items: center;
        gap: 20px;
    
        position: relative;
    }
.top_trade_line {   
    position: absolute;
    left: 65px;
    width: 1px;
    height: 60px;
    background-color:rgba(0,0,0,.2)
}
.top_sell > h3 {
    font-size: 18px;
    padding-left: 20px;
}

.top_trade_line > span {
    font-size: 15px;
    font-weight: 700;
    margin: 0;
}
.top_trade_price > p {
    font-size: 11px;
    margin: 0;
}

/* ***************************************메인 */
.content {
    padding: 138px 40px 0 ;
}

.main {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.main_img_box {
    position: absolute;
    max-width: 560px;
    width: 45%;
    margin-right:3.334%;
    background-color: #f2f9f6;
}
.main_img {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}
/* ==============================메인 오른쪽 시작=============================== */

.main_imformation {
    position: relative;
    left: 50%;
    width: 48%;
    max-width: 600px;
    border-left: 1px solid rgb(224, 224, 224);
    box-sizing: border-box;
    padding-left: 3.334%;
}
.main_top_imfor {
    width: 100%; }

.name_imfor {
    font-size: 14px;
    margin: 0;
}
.main_top_imfor> p {
    font-size: 18px;
    margin:20px 0 4px;
}
.main_top_imfor   > h3 {
    font-size: 27px;
    margin: 2px 0 0 0;
}
.main_top_imfor  > span {
    color: rgba(34, 34, 34, .5);
    font-size: 14px;
    margin: 0;
}
.all_size {
    position: relative;
}
.size_icon {
    height: 50px;
    line-height: 50px;

    padding-left: 12px;
    margin: 20px 0px;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;

    position: relative;
}

.size_icon_under {
    width: 25px;
    height: 25px;

    position: absolute;
    right: 10px;
    top: 50%;

    transform: translateY(-50%);
    font-size: 17px;
    font-weight: 700;
    padding: 3px;
    line-height: 21px;
    border: 1px solid #ebebeb;
    border-radius: 50%;
    box-sizing: border-box;
}

/* ==============================메인 중앙=============================== */
.main_mid_imfor {
    width: 100%;
    padding: 20px 0;
    margin-bottom: 20px;
}
.sub_imfor {
    display: flex;

}
.sub_imfor > li {
    width: calc(100% / 5);

    padding:0  16px;
    border-right:1px solid #ebebeb; 
    box-sizing: border-box;
}
.sub_imfor > li:nth-child(5) {
    border-right:0px ;
}

.sub_imfor > li > p {
font-size: 12px;
color: #22222280;
margin: 0;
}
.sub_imfor > li >  span {
    font-size: 14px;
    color: #222222cc;
}

.trade_box {
    margin: 30px 0;
    display: flex;
    gap: 20px;
}
    .org_trade  {
    background-color: rgb(239, 98, 83); }
    .green_trade {
        background-color: rgb(65, 185, 121);}
    
    
    .sell {
        width: 265px;
        height: 60px;
        border-radius: 10px;
        color: white;
        
        display: flex;
        align-items: center;
        gap: 20px;
    
        position: relative;
    }
.trade_line {   
    position: absolute;
    left: 65px;
    width: 1px;
    height: 60px;
    background-color:rgba(0,0,0,.2)
}
.sell > h3 {
    font-size: 18px;
    padding-left: 20px;
}

.trade_price > span {
    font-size: 15px;
    font-weight: 700;
    margin: 0;
}
.trade_price > p {
    font-size: 11px;
    margin: 0;
}

.want {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 60px;

    border: 1px solid #ebebeb;
    border-radius: 10px;
}
.want > img{
    width: 15px;
    height:  15px;


}
.want >p {
    font-size: 15px;
    font-weight: 400;
}
.want > span {
    font-size: 15px;
    font-weight: 600;
}


.main_bottom_imfor {
    padding-top: 20px;
    border-top: 1px solid #ebebeb;
}
.deliver_imfor {
    display: flex;
    flex-direction: column ;
}
.deliver_imfor > p{
    font-size: 14px;
    font-weight: 400;
}
.deliver_icon > li > img {
    width: 40px;
    height: 40px;
}
.deliver_icon > li {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 10px;
}
.deliver_txt {
    display: flex;
    flex-direction: column;
}
.deliver_txt > p {
    font-size: 13px;
    font-weight: 600;
    margin-right: 4px;

    margin: 0;
}

.deliver_txt > span {
    color: rgba(34, 34, 34, .5);
    font-size: 12px;
}

.belive {
    padding-top: 30px;
}
.belive_box > li {
    display: flex;
    gap: 10px;
}

.belive_box >li > img {
    width: 30px;
    height: 30px;
}
.belive_txt {
    padding-bottom: 20px;
}
.belive_txt > p {
    font-size: 13px;
    font-weight: 600;
    margin: 0;
}
.belive_txt > span{
    color: rgba(34, 34, 34, .5);
    font-size: 13px;
}
/* `````````````````````````언더메인`````````````````````````````` */
.under_main {
    padding-top: 100px;
    border-top: 1px solid  #ebebeb;;

}
.new_item_box  {
    padding:50px 0 ;
    border-bottom: 1px solid rgb(184, 181, 181);
}

.new_item_box > p {
    font-size: 18px;
    color: rgba(34, 34, 34, .5); 
    margin: 0;
}
.new_item0 {

    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
    padding-top: 30px;

}
.new_item0 > a {
    width: calc((100% - 80px) / 5);
    height: 100%;
}

.new_item_img0 {
    width: 100%;
    padding-bottom: 100%;
    background: url(../img/stokcx/item/new_item0.webp) no-repeat center / contain;

    background-color:#f5f5f5 ;
    border-radius: 8px;
    position: relative;
}
.wing {
    position: absolute;
    right: 5px;
    bottom:10px;
}
.new_item0 > a > p {
    margin: 0;
    font-size: 13px;
}
.new_item0 > a > h4 {
    margin: 0;
}
.price {
    font-weight: 900;
    padding: 10px 0;
}
.trade {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 12px;
    color: rgb(121, 121, 121);
}

/* 사이즈표 */
.size_list {
    background-color: rgba(34, 34, 34, .5);
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    display: none;
    z-index: 99999999999999999999;
}

.size_box {
    width: 480px;
    height: 512px;
    border-radius: 20px;

    background-color: white;
    position: relative;
    left: 50%;
    top: 50%;

    transform: translate(-50% ,-50% );
}
.size_box > h3 {
    text-align: center;
    padding-top: 10px;
}
.btn_x {
    font-size: 24px;
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
}
.size_item_box {
    display: flex;
    gap: 10px;
    padding: 0 32px;
}
.size_item {
    text-align: center;
    line-height: 58px;
    width: calc((100% - 20px) / 3);
    height: 58px;
    border: 3px solid;
    border-radius: 15px;
    font-weight: 900;
    box-sizing: border-box;
    cursor: pointer;
}
.cloth_size {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    padding: 0 32px;
    flex-wrap: wrap;
    width: 100%;
}
.cloth_size_box {
    width: calc((100% - 104px) / 5);
    height: 38px;
    text-align: center;
    line-height: 38px;
    border: 2px solid;
    box-sizing: border-box;
    border-radius: 13px;
    font-weight: 400;
    font-size: 13PX;

}

.add_box {
    width: 100%;
    height: 80px;
    position: relative;
}
.new_add {
    width: 100px;
    height: 50px;
    line-height: 48px;
    text-align: center;
    
    border: 1px solid rgb(197, 196, 196);
    border-radius: 10px;

    position: absolute;
    left: 50%;
    bottom:0;

    cursor: pointer;

    transform: translateX(-50%);
}


/* /////////////////////////////////// 검색창 */
.search_banner {
    padding-top: 50px;
    width: 100%;
    height: 1000px;
    background-color: white;

    position: relative;

    z-index: 999999999999999999999999999999;

    display: none;
}
.out_btn {
    position: absolute;
    top: 10px;
    right: 10px;

    width: 50px;
    height: 50px;
    font-size: 30px;

    cursor: pointer;
}
.search_banner_box{
    position: relative;

}
.search_banner_box > input {
    width: 100%;
    height: 45px;

    padding-bottom: 5px;
    border: 0px ;
    border-bottom: 5px solid;
    outline: none;

    font-size: 20px;

}
.x {
    width: 20px;
    height: 20px;
    line-height: 15px;
    text-align: center;

    border-radius: 50%;

    position: absolute;
    right: 10px;
    top:2%;

    font-weight: 900;
    background-color: rgb(193, 189, 189);
    cursor: pointer;
}
.preper {
    padding-bottom: 50px;
}
.preper > h4 {
    margin: 20px 0 10px;
}
.preper_txt {
    display: inline-block;
    background-color: #f4f4f4;
    border-radius: 20px;
    padding:5px 10px;

    border: 1px solid #ebebeb;
    font-size: 14px;

    color: rgba(34, 34, 34, .8);
    margin-right: 10px;
}
.search_banner_box > p {
    font-size: 16px;
    font-weight: 900;
    color: #222;
}
.search_banner_box > p > span {
    font-weight: normal;
    color: rgba(34, 34, 34, .8);
    font-size: 13px;
    padding: 0 5px;
}
.popular_search {
    display: flex;
    flex-wrap: wrap;

}
.popular_search > p{
    width: 50%;
    font-size: 14px;
    font-weight: 900;
}
.popular_search > p > span {
    font-weight: normal;
    font-size: 14px;
    padding: 0 6px;
}
/* MINI 해더창 //////////////////////////////////////*/
.mini_header {
    width: 100%;
    height: 50px;

    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: 9999999999;
    border-top: 1px solid rgb(184, 181, 181);

    display: flex;
    opacity: 0;
}
.mini_header > a {
    display: none;
}
.header_sell > h3{
    font-size: 15px;
    white-space: nowrap;
}

.header_trade_price > span {
font-size: 12px;
}
.header_trade_price > p {
    font-size: 11px;
}
.header_trade_line {
    left: 59px;
}


/* 반응형///////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 960px) {
    .content {
        padding: 58px 40px 0;
    }
        .header {
            height: 90px;
        }
        .header_top { display: none;}

    .header_center {
        padding: 0;
        align-items: center;
    }
    .search_box {
        padding: 0px;
    }
    .search_box_msg {
        display: none;
    }
    .search_box_msg:nth-child(4) {
        display: block;
    }
    .search_logo {
        background: url(../img/stokcx/logo_header/logo_left_png.png) no-repeat center / contain;
    }
    .header_bottom {
        padding: 0 
    }
    .header_logo {
        width: 30px;
        height: 30px;
        background: url(../img/stokcx/logo_header/left-arrow.png)
        no-repeat center / contain;

        margin-left: 10px;
    }
    .search_logo {
        width: 92px;
    }
    .header {
        height: 60px;
    }
    .sub_imfor {
    width: 470px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 20px 0;
    }
    .sub_imfor > li {
        padding:0;
        margin-right: 10px;

    }
    .sub_imfor > li > span {
        font-size: 13px;
    }

}
@media screen and (max-width: 765px) {
    .content {
    padding: 80px 0 0;
    }
    .main {    display: block;
    }
    .mini_header { 
    opacity: 1;
    }
    .top_buttom {
        bottom: 60px;
    }
    .main_img_box {
        position: relative;
        width: 100%;
        max-width: 765px;
        padding: 0;
    }
    .main_img {
        position: relative;
        height: auto;
        padding-bottom: 100%;
    }
        .main_imformation {
            width: 100%;
            max-width: 765px;
            border-left: none;
            padding-left: 0px;
        }
        .new_item0 > a {
            width: calc((100% - 20px) / 2);
            height: 100%;
        }
        .new_item_box {
            padding:0;
        }
        .trade_box {
            display: none;
        }
        .want{
            display: none;
        }
        .main_imformation {

                left: 0}
/* 미니창 */
        .mini_header {
            padding-top: 8px;
            box-shadow: 4px 0 10px 0 rgba(0,0,0,.1); 
            border: 0;
            justify-content:  flex-start;
            opacity: 1;
        }

        .header_trade_box {
            width: 100%;
            display: flex;
            gap: 20px;
        }
        .header_want {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #ebebeb;
            border-radius: 10px;
        }
        .header_want > img{
            width: 30px;
            height:  30px;
        }
        .header_want > span {
            font-size: 8px;
            font-weight: 600;
            
        }
            .header_sell {
                width:calc((100% - 10px) / 2);
                height: 50px;
                border-radius: 15px;
                color: white;
                
                display: flex;
                align-items: center;
                gap: 5px;
                position: relative;
            }
        .header_trade_line {   
            position: absolute;
            left: 44px;
            width: 1px;
            height: 50px;
            background-color:rgba(0,0,0,.2)
        }
        .header_sell > h3 {
            font-size: 16px;
            padding-left: 10px;
        }
        .header_trade_line > span {
            font-size: 15px;
            font-weight: 700;
            margin: 0;
        }
        .header_trade_price > p {
            font-size: 11px;
            margin: 0;
        }
}

@media screen and (max-width: 325px) {
    .main_top_imfor> p {
        font-size: 14px;
    }
.size_icon_under {
    width: 20px;
    height: 20px;
    right: 5px;
    top: 50%;
    font-size: 12px;
}



}












